{% extends "blog/base.html" %}
{% block content %}
	<h1>About Us</h1>
{% endblock content %}

<!-- <!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>Django Blog - {{ title }}</title>
	
	{% else %}
		<title>Django Blogsite About</title>
	{% endif %}
</head>
<body>

	<h1>About Us</h1>
	
		{% for about in abouts %}

			<h1>{{ about.author }}</h1>
			<p>{{ about.designation }}</p>
			<p>{{ about.company }}</p>
			<p>{{ about.spouse }}</p>

		{% endfor %}
	
	
	

</body>
</html>
 -->
 <!--Template inheritance-->

